{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "74"
        },
        "useBuiltIns": "usage",
        "debug": true,
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings"
  ]
}
